<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etcp.mapper.TbCarLogMapper" >
  <resultMap id="BaseResultMap" type="com.etcp.pojo.TbCarLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="car_id" property="carId" jdbcType="BIGINT" />
    <result column="indoorTime" property="indoortime" jdbcType="TIMESTAMP" />
    <result column="outdoorTime" property="outdoortime" jdbcType="TIMESTAMP" />
    <result column="time" property="time" jdbcType="INTEGER" />
    <result column="key1" property="key1" jdbcType="VARCHAR" />
    <result column="key2" property="key2" jdbcType="VARCHAR" />
    <result column="key3" property="key3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, car_id, indoorTime, outdoorTime, time, key1, key2, key3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.etcp.pojo.TbCarLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_car_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_car_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_car_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.etcp.pojo.TbCarLogExample" >
    delete from tb_car_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.etcp.pojo.TbCarLog" >
    insert into tb_car_log (id, car_id, indoorTime, 
      outdoorTime, time, key1, 
      key2, key3)
    values (#{id,jdbcType=BIGINT}, #{carId,jdbcType=BIGINT}, #{indoortime,jdbcType=TIMESTAMP}, 
      #{outdoortime,jdbcType=TIMESTAMP}, #{time,jdbcType=INTEGER}, #{key1,jdbcType=VARCHAR}, 
      #{key2,jdbcType=VARCHAR}, #{key3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.etcp.pojo.TbCarLog" >
    insert into tb_car_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="indoortime != null" >
        indoorTime,
      </if>
      <if test="outdoortime != null" >
        outdoorTime,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="key1 != null" >
        key1,
      </if>
      <if test="key2 != null" >
        key2,
      </if>
      <if test="key3 != null" >
        key3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=BIGINT},
      </if>
      <if test="indoortime != null" >
        #{indoortime,jdbcType=TIMESTAMP},
      </if>
      <if test="outdoortime != null" >
        #{outdoortime,jdbcType=TIMESTAMP},
      </if>
      <if test="time != null" >
        #{time,jdbcType=INTEGER},
      </if>
      <if test="key1 != null" >
        #{key1,jdbcType=VARCHAR},
      </if>
      <if test="key2 != null" >
        #{key2,jdbcType=VARCHAR},
      </if>
      <if test="key3 != null" >
        #{key3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.etcp.pojo.TbCarLogExample" resultType="java.lang.Integer" >
    select count(*) from tb_car_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_car_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.carId != null" >
        car_id = #{record.carId,jdbcType=BIGINT},
      </if>
      <if test="record.indoortime != null" >
        indoorTime = #{record.indoortime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.outdoortime != null" >
        outdoorTime = #{record.outdoortime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=INTEGER},
      </if>
      <if test="record.key1 != null" >
        key1 = #{record.key1,jdbcType=VARCHAR},
      </if>
      <if test="record.key2 != null" >
        key2 = #{record.key2,jdbcType=VARCHAR},
      </if>
      <if test="record.key3 != null" >
        key3 = #{record.key3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_car_log
    set id = #{record.id,jdbcType=BIGINT},
      car_id = #{record.carId,jdbcType=BIGINT},
      indoorTime = #{record.indoortime,jdbcType=TIMESTAMP},
      outdoorTime = #{record.outdoortime,jdbcType=TIMESTAMP},
      time = #{record.time,jdbcType=INTEGER},
      key1 = #{record.key1,jdbcType=VARCHAR},
      key2 = #{record.key2,jdbcType=VARCHAR},
      key3 = #{record.key3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.etcp.pojo.TbCarLog" >
    update tb_car_log
    <set >
      <if test="carId != null" >
        car_id = #{carId,jdbcType=BIGINT},
      </if>
      <if test="indoortime != null" >
        indoorTime = #{indoortime,jdbcType=TIMESTAMP},
      </if>
      <if test="outdoortime != null" >
        outdoorTime = #{outdoortime,jdbcType=TIMESTAMP},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=INTEGER},
      </if>
      <if test="key1 != null" >
        key1 = #{key1,jdbcType=VARCHAR},
      </if>
      <if test="key2 != null" >
        key2 = #{key2,jdbcType=VARCHAR},
      </if>
      <if test="key3 != null" >
        key3 = #{key3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etcp.pojo.TbCarLog" >
    update tb_car_log
    set car_id = #{carId,jdbcType=BIGINT},
      indoorTime = #{indoortime,jdbcType=TIMESTAMP},
      outdoorTime = #{outdoortime,jdbcType=TIMESTAMP},
      time = #{time,jdbcType=INTEGER},
      key1 = #{key1,jdbcType=VARCHAR},
      key2 = #{key2,jdbcType=VARCHAR},
      key3 = #{key3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>