<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    <!--配置不拦截资源-->
    <http pattern="/*.html" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>

    <!-- 页面拦截规则 -->
    <!--use-expressions 为是否使用使用 Spring 表达式语言（ SpEL ），
        默认为true ,如果开启，则拦截的配置应该写成以下形式: access="hasRole('ROLE_USER')"-->
    <http use-expressions="false">
        <!--intercept-url 表示拦截页面
            /*  表示的是该目录下的资源，只包括本级目录不包括下级目录
            /** 表示的是该目录以及该目录下所有级别子目录的资源
            access:这里必需是ROLE_前缀，配置角色的意思
        -->
        <intercept-url pattern="/**" access="ROLE_ADMIN" />

        <!--开启表单登陆功能-->
        <!--注意事项：以下的url都必须带“/”，不然会报错
            login-page：配置默认的登录页
            default-target-url:登录成功，跳转的url
            authentication-failure-url:登录失败的页面
            always-use-default-target:不管什么情况下，只要登录成功，都跳到成功页
        -->
        <form-login login-page="/login.html" default-target-url="/admin/index.html"
                    authentication-failure-url="/login.html" always-use-default-target="true"/>

        <!--关闭csrf-->
        <csrf disabled="true"/>

        <!--配置不拦截iframe-->
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>

        <!--开记登出功能-->
        <logout/>
    </http>

    <!-- 认证管理器 -->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <!--配置用户名与密码所属角色为ROLE_USER-->
                <user name="root" password="root" authorities="ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>

